<!DOCTYPE html>
<html>
<style>
  .header a {
    color: white;
    font-size: 22px;
    /* text-decoration: none; */
    display: inline-block;
    margin: 25px 10px;
    font-weight: bold;
  }
</style>
<style>
  .marco {
    width:80%;
    background:white;
    box-shadow:0px 0px 2px #222222;
    border: 1px solid #e1e1e1;
    margin:40px auto;
    padding:40px;
  }
</style>
<style>
  .marco50 {
    width:50%;
    background:white;
    box-shadow:0px 0px 2px #222222;
    border: 1px solid #e1e1e1;
    margin:40px auto;
    padding:40px;
  }
</style>

<head>
    <meta charset="utf-8">
    <title>ArgProp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="/public/css/bootstrap.min.css">
        <link rel="stylesheet" href="/public/css/bootstrap.css">
        <link href="/public/css/amarillo.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">


</head>

<body style="background-color:#f7f1c3;">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">ArgProp</a>
      </div>
    </div>
  </nav>

  {{{body}}}

</body>
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</html>
